.panel-session-label {
	min-width: 20px;
	padding: 2px 2px;
}

.panel-timer-label {
	min-width: 50px;
	padding: 2px 2px;
}

.break-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 15px;
    margin: 50px;
    padding: 50px;
}
